{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>

<h1>这是test</h1>
<form action="" method="get">
    <select name="condition" id="">
        <option value="name">姓名</option>
        <option value="qq">QQ</option>
    </select>
    <input type="text" name="wd"><button>搜索</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>qq</th>
            <th>名称</th>
        </tr>
    </thead>
    <tbody>
        {% for data in all_data %}
            <tr>
                <td>{{ data.qq }}</td>
                <td>{{ data.name }}</td>

            </tr>
        {% endfor %}

    </tbody>
</table>

{{ ret_html|safe }}




<script src="{% static 'bootstrap-3.3.7-dist' %}"></script>
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script>


</script>
</body>
</html>